{% extends 'base.html' %} {% block head %} {% endblock head %} {% block body %}
<form action="/" method="post">
  <div class="input-group-lg big-container container-fluid p-3">
    <div class="small-container form-floating input-group-lg column-5">
      <input
        name="item_number"
        pattern="[0-9]{11}"
        title="NDC must be 11 digits"
        id="item_number"
        type="text"
        class="form-control item-number-input"
        placeholder="Enter NDC Number"
        aria-label="Enter Item Number"
        aria-describedby="button-addon2"
        inputmode="numeric"
        autofocus
        required
        min="00000000000"
        max="99999999999"
        maxlength="11"
        minlength="11"
      />
      <label for="item_number">Enter NDC Number</label>
    </div>
    <div class="input-group-lg form-floating column-1">
      <input
        name="item_count"
        type="text"
        inputmode="numeric"
        pattern="[0-9]*"
        class="form-control item-count"
        placeholder="Enter Count"
        aria-label="Enter Count"
        aria-describedby="basic-addon2"
        maxlength="5"
      />
      <label for="count">Enter Count</label>
    </div>
    <div class="input-group-lg form-floating column-5">
      <input
        name="item_name"
        type="text"
        class="form-control item-name"
        placeholder="Enter Item Name"
        aria-label="Enter Item Name"
        aria-describedby="basic-addon2"
        id="item-name"
      />
      <label for="item-name">Enter Item Name</label>
    </div>
    <input
      class="btn btn-primary generate-button h-100 column-1"
      type="submit"
      id="button-addon2"
      value="Generate Barcode"
    />
  </div>
  {% block alert %} {% endblock %}
</form>
<ul class="list-group list">
  {% for item in items %}
  <li class="list-group-item">
    <form action="/edit/{{item.id}}" method="post" enctype="multipart/form-data">
      <label for="item_number"></label>
      <input
        pattern="[0-9]{11}"
        title="NDC must be 11 digits"
        class="form-control item-number w-auto d-inline-block"
        contenteditable="true"
        value="{{item.item_number}}"
        name="item_number"
        placeholder="NDC Number"
        type="text"
        maxlength="11"
        minlength="11"
        inputmode="numeric"
        aria-label="Enter Item Number"
        aria-describedby="button-addon2"
        size="11"
      />
      <label for="item_count"></label>
      <input
        name="item_count"
        class="form-control item-count w-auto d-inline-block"
        contenteditable="true"
        value="{{item.item_count}}"
        placeholder="Enter Count"
        type="text"
        maxlength="5"
        aria-label="Enter Count"
        aria-describedby="basic-addon2"
        inputmode="numeric"
        pattern="[0-9]*"
        size="5"
      />
      <label for="item_name"></label>
      <input
        class="form-control item-name w-auto d-inline-block"
        value="{{item.item_name}}"
        name="item_name"
        placeholder="Item Name"
        type="text"
        size="50"
      />
      <!-- <svg
        class="barcode"
        jsbarcode-value="{{item.item_number}}"
        jsbarcode-width="1.3"
        jsbarcode-height="50"
        jsbarcode-fontsize="15"
        jsbarcode-background=""
      ></svg> -->
      <img
        src=""
        alt="barcode"
        class="barcode"
        data-item-number="{{item.item_number}}"
        data-item-name="{{item.item_name}}"
        loading="lazy"
      />
      <a class="btn btn-danger delete-button" role="button" href="/delete/{{item.id}}">X</a>
      <input type="submit" value="Edit" class="btn btn-secondary me-3 edit-button" />
    </form>
  </li>
  {% endfor %}
</ul>
{% endblock body %}
